.preview {
  position: absolute;
  box-shadow: 5px 5px 10px gray;
  margin-left: 80px;
  opacity: 0;
  transition-duration: 0.5s;
}

#one {
  padding: 10px;
}

@media screen and (max-width: 480px) {
  .h2art {
    margin-left: 0.3em;
  }
}

@media screen and (min-width: 1400px) {
  .h2art {
    margin-left: 12em;
  }
}

html {
  scroll-behavior: smooth;
}
